:root {
    --bgc: #c6c7be;
    --maincolor: #47423f;
    --divbgc: #b6b4a6;
    --link: #fff;
    --num: #dfded5;
}


body {
    background-color:var(--bgc);
    color: var(--maincolor);
    font-family: '微軟正黑體';
}

/* 未訪問連結*/
a:link,
a:hover,
a:active,
a:visited {
    color: var(--link);
}


.main{
    display: block;
    background-color: var(--divbgc);
    width:500px;
    text-align: center;
    line-height: 1.8;
    margin: 0 auto;
    padding: 50px;
    transform: translate(0,calc(50vh - 400px));
    border-radius: 50px 0 50px 0;
}

input[type="number"] {
    height: 40px;
    width: 120px;
    text-align: center;
    margin: 20px;
    font-size: 2em;
    background-color: var(--num);
    border: solid var(--maincolor) 1px;
    border-radius: 10px;
}



/* Chrome, Safari, Edge, Opera 移除數字輸入欄位箭頭 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#k{
    display: block;
    height: 40px;
    width: 100px;
    border: solid var(--link) 1px;
    border-radius: 5px;
    line-height: 40px;
    margin: 0 auto;
    font-size: 1.2em;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s;
}

#k:hover {
    background-color: var(--bgc);
    border-color: var(--maincolor);
}

#submit {
    height: 100px;
    width: 100px;
    border: solid var(--link) 2px;
    border-radius: 50%;
    background-color: #b14e35;
    color: var(--link);
    font-size: 1.8em;
    font-family: "微軟正黑體";
    font-weight: 800;
}